<section class="container-fluid">
<label class="sr-only" for="addr">Enter a Location</label>
<div class="input-group input-group-lg">
    <span class="input-group-addon"><span class="icon icon-map-marker"></span></span>

    <!-- Custom Vue component for: uiv Typeahead component -->
    <Typeahead ref="typeahead2"
        v-model="typeaheadModel"
        :async-src="'https://api.mapbox.com/geocoding/v5/mapbox.places/' + encodeURIComponent(typeaheadModel) + '.json?country=us&limit=10&access_token=pk.eyJ1IjoiY29tcHV0ZWNoIiwiYSI6InMyblMya3cifQ.P8yppesHki5qMyxTc2CNLg&'"
        async-key="features"
        item-key="place_name"
        :ignore-case="true"
        :match-start="false"
        :force-select="false"
        :open-on-focus="false"
        >
        <!-- Override the input template -->
        <input id="addr" data-role="input" class="form-control input-lg" type="search" :placeholder="placeholderText" autocomplete="off">
        <!-- Override the typeahead template -->
        <template slot="item" scope="props">
            <!-- Iterate through each address returned -->
            <li v-for="(item, index) in props.items" v-bind:class="{active:props.activeIndex===index}">
                <!-- Link to this address -->
                <a href="javascript:void(0)" v-on:click="addressClicked($event, props, item)">
                    <!-- Highlight search keywords in this item -->
                    <span v-html="props.highlight(item)"></span>
                </a>
            </li>
        </template>
    </Typeahead>

    <span class="input-group-btn">
        <a class="btn btn-default" href="javascript:void(0);" @click="searchButtonClicked($event)"><span class="icon icon-search"></span><span class="sr-only">Search</span></a>
    </span>
</div>
</section>
