.panel-search {
  .form-control {
    border: none;
    box-shadow: none;
    padding-left: 12px;
    padding-right: 12px;
    /* Override Bootstrap CSS to keep geocoder results from overlapping with input field */
    float: none;
  }

  .input-group {
    border: 2px solid #ffd34d;
  }

  .input-group-btn {
    background-color: #ffd34d;
    &>.btn {
      background: none;
      border: none;
      border-radius: 0;
    }
  }

  .icon-map-marker {
    opacity: .7;
  }
}
