<modal v-model="showModal" title="Settings" @hide="" ref="modal">
  <form>
    <h3>Select Broadband</h3>
    <div class="row">
      <div class="col-sm-6">
        <fieldset>
          <legend>Technologies</legend>
          <div role="group">
            <div class="checkbox" v-for="(ttechnology, index) in technologies">
              <input type="checkbox" name="ttech" :id="'ttechnology'+index" :value="ttechnology.value" @change="saveSettings" v-model="selectedTechCategories">
              <label :for="'ttechnology'+index">
                {{ ttechnology.name }}
              </label>
            </div>            
          </div>
        </fieldset>
      </div>
      <div class="col-sm-6">
        <fieldset>
          <legend>Speed (Mbps)</legend>
          <div role="group">
            <div class="radio" v-for="(tspeed, index) in speeds">
              <input type="radio" name="tspeed" :id="'tspeed'+index" :value="tspeed.value" @change="saveSettings" v-model="selectedSpeed">
              <label :for="'tspeed'+index">
                &gt; {{ tspeed.name }}
              </label>
            </div>            
          </div>
        </fieldset>
      </div>
    </div>
  </form>
  <div slot="footer">
    <!-- <button class="btn btn-default" type="button" @click="closeModal">Close</button> -->
    <button class="btn btn-default pull-right" type="button" @click="closeModal">Close</button>
  </div>
</modal>
