<div class="map container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="page-header">
        <h1>Fixed Broadband at a Location</h1>
      </div>
    </div>
  </div>  
  <div class="row">
    <nb-map type="location" defaultSearch="Address"></nb-map>
    <nb-map-sidebar>
      <h2 class="sub-title" slot="sidebar-title"><b>All Providers Reporting Service</b></h2>
      <p slot="sidebar-description">Census block ID: 360610045001009</p>
      <div class="charts" slot="charts">
        <br>
        <table class="table table-striped table-condensed table-hover">
          <thead>
            <tr>
              <th class="sorting">Provider <span class="icon icon-sorting"></span></th>
              <th class="sorting">Tech <span class="icon icon-sorting"></span></th>
              <th class="sorting">Down <span class="help-inline">(Mbps)</span> <span class="icon icon-sorting"></span></th>
              <th class="sorting">Up <span class="help-inline">(Mbps)</span> <span class="icon icon-sorting"></span></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Xchange Telecom</td>
              <td>Wireless</td>
              <td>1000</td>
              <td>1000</td>
            </tr>
            <tr>
              <td>RCN</td>
              <td>Cable</td>
              <td>330</td>
              <td>20</td>
            </tr>
            <tr>
              <td>RCN</td>
              <td>FTTP</td>
              <td>330</td>
              <td>20</td>
            </tr>
            <tr>
              <td>Time Warner Cable Inc.</td>
              <td>Cable</td>
              <td>300</td>
              <td>20</td>
            </tr>
            <tr>
              <td>Verizon New York Inc.</td>
              <td>Cable</td>
              <td>300</td>
              <td>20</td>
            </tr>
            <tr>
              <td>HughesNet</td>
              <td>Satellite</td>
              <td>15</td>
              <td>2</td>
            </tr>
            <tr>
              <td>Skycasters</td>
              <td>Satellite</td>
              <td>2</td>
              <td>1.3</td>
            </tr>
          </tbody>
        </table>
      </div>
      <section class="map-legend" slot="map-legend">
        <h5><b>Number of Broadband Providers</b></h5>
        <ul class="list-unstyled">
          <li>
            <div class="key-symbol" style="background-color: #f4faef)"></div> 0
          </li>
          <li>
            <div class="key-symbol" style="background-color: #d4eed5"></div> 1
          </li>
          <li>
            <div class="key-symbol" style="background-color: #addfdb"></div> 2
          </li>
          <li>
            <div class="key-symbol" style="background-color: #7eb8d6"></div> 3
          </li>
        </ul>
      </section>
    </nb-map-sidebar>
  </div>
</div>
