.col-fixed {
  max-width: 800px;
}

.h4 {
  margin-top: 20px;
}

.panel-sidebar {
  box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.14);
  border: none;
  border-top: 7px solid #ffcc44;
  margin-top: 40px;
  max-width: 100%;
  @media (min-width: 768px) {
    max-width: 300px;
    margin-top: 0;
  }
  + .panel-sidebar {
    margin-top: 30px;
  }
}

.panel-default {
  > .panel-heading {
    background-color: #fff;
    border: none;
    padding-bottom: 0;
  }
}

.panel-title {
  font-size: 25px;
}

.panel-body {
  ul {
    margin-bottom: 0;
  }
  li + li {
    margin-top: 10px;
  }
  li > ul {
    margin: 5px 0 0;
    padding-left: 0;
  }
  .divider {
    margin-top: 15px;
  }
}

.table-mapEmbed {
  th:first-child {
    white-space: nowrap;
    width: 250px;
  }
  td:last-child {
    word-break: break-word;
  }
}

/* Logos */
.status {
  margin-top: 27px;
  text-align: right;
  max-width: 300px;
  > span {
    // display: block;
    font-size: 11px;
    margin-bottom: 2px;
  }
  // ul {
  //   display: inline;
  // }
  li {
    padding-right: 0;
    vertical-align: middle;
  }
}
.logo-socrata {
  background: url('../../assets/images/socrata-logo.png') 0 0 no-repeat transparent;
  background-size: contain;
  display: inline-block;
  height: 24px;
  width: 90px;
}

.logo-mapbox {
  background: url('../../assets/images/mapbox-logo-color.png') 0 0 no-repeat transparent;
  background-size: contain;
  display: inline-block;
  height: 23px;
  width: 100px;
}