<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <h1>About</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-fixed col-sm-8">
      <a id="main-content" class="sr-only"></a>
      <section>
        <h2>Fixed Broadband Deployment Data</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, similique! Laboriosam harum, placeat vel facilis dolorum, maxime. Itaque necessitatibus neque unde, enim, earum amet veniam blanditiis maiores tempore ipsum eum! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis, reprehenderit tenetur dolor voluptatem eum, dolorum. Temporibus, illum, quasi eos debitis, harum id ad nesciunt ea, delectus aperiam adipisci rem magni.</p>
      </section>
      <hr>
      <section>
        <h2>How to Use This Site</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, similique! Laboriosam harum, placeat vel facilis dolorum, maxime. Itaque necessitatibus neque unde, enim, earum amet veniam blanditiis maiores tempore ipsum eum! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis, reprehenderit tenetur dolor voluptatem eum, dolorum. Temporibus, illum, quasi eos debitis, harum id ad nesciunt ea, delectus aperiam adipisci rem magni.</p>
      </section>
      <hr>
      <section>
        <h2>For Developers</h2>
        <h3 class="h4">API's</h3>
        <ul>
          <li><a href="#">Socrata API's for tables and graphs</a></li>
          <li><a href="#">Mapbox embed directions</a></li>
          <li><a href="#">Census-block API </a></li>
        </ul>
        <h3 class="h4">Embed a map layer into your Web site</h3>
        <ul>
          <li>Step 1</li>
          <li>Step 2</li>
          <li>Step 3</li>
        </ul>
        <h3 class="h4">Github</h3>
        <ul>
          <li><a href="#">Repository</a></li>
        </ul>
      </section>
      <hr>
      <section>
        <h2>FAQ</h2>
        <ul>
          <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
          <li>Placeat omnis consectetur inventore velit explicabo officia quisquam ut voluptatum adipisci repudiandae, aperiam, sunt, aliquid eligendi illo voluptate nisi exercitationem beatae quaerat.</li>
          <li>Modi aspernatur nisi facere.</li>
        </ul>
      </section>
    </div>
    <div class="col-sm-4">
      <div class="panel-sidebar panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Related Links</h3>
        </div>
        <div class="panel-body">
          <p><b>Form 477</b></p>
          <ul class="list-unstyled">
            <li><a href="#">General Form 477 Resources</a></li>
            <li><a href="#">Form 477 reports (IAS and VTS)</a></li>
            <li><a href="#">Form 477 additional data</a></li>
            <li><a href="#">Form 477 orders</a></li>
          </ul>
          <hr>
          <p><b>Data and Reports</b></p>
          <ul class="list-unstyled">
            <li><a href="#">Mobile maps and data</a></li>
            <li><a href="#">Fixed-broadband subscription data</a></li>
            <li><a href="#">Mobile competition report</a></li>
            <li><a href="#">BPR/Section 706 report</a></li>
            <li><a href="#">Broadband classroom</a></li>
            <li><a href="#">Data download</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
