<modal v-model="showModal" title="About Area Comparison" @hide="" ref="modal">
<section>
	<h2>About the table</h2>

<p>This page allows you to compare data about different areas, either across the country or within one state. Begin by choosing whether you want to compare nationwide or only within one state. Then, choose the type of area you want to compare; choices are States, Counties, Congressional Districts, Census Places (cities and towns), Federally-recognized Tribal Areas and Core-Based Statistical Areas (CBSA), which include Metropolitan and Statistical Areas (MSAs) and Micropolitan Statistical Areas. Finally, hit "Compare".</p>

<p>If you are interested in one particular area, you can sort by the name of the Area (by hitting the triangle next to the Area column heading) and scroll to find the area of interest. Alternatively, you can type the name of the area into the "Filter Area" box to limit the number of rows visible.</p>

To save the table that came from your search, or to share the information, click on the [permalink] button, and hit copy.

You can chose the technologies, and downstream and upstream speeds, displayed in this map when you click on the gear icon [picture of gear icon].
</section>
<hr>
<section>
    <h2>Table controls</h2>
    <table class="table-mapControls table table-condensed table-bordered">
      <thead>
        <tr>
          <th>Icon</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><span class="icon icon-cog"></span></td>
          <td>The "Select Broadband" menu allows you to change the technologies and downstream and upstream speeds displayed in this map.</td>
        </tr>
        <tr>
          <td><span class="icon icon-link"></span></td>
          <td>To save or share the results table, click on the "Link to this page" button, then click the "Copy to Clipboard" button.</td>
        </tr>
      </tbody>
    </table>
  </section>
  <div slot="footer">
    <!-- <button class="btn btn-default" type="button" @click="closeModal">Close</button> -->
    <button class="btn btn-default pull-right" type="button" @click="closeModal">Close</button>
  </div>
</modal>
