<div class="map container-fluid">
  <div class="row">
    <div class="col-sm-7">
      <div class="page-header">
        <h1>Area Summary</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <nb-map class="col-xs-12 col-sm-12 col-md-7 col-lg-8" mapType="area" searchType="comparison" searchDefault="County" @map-init="mapInit" @map-zoomend="toggleLegendTitle"></nb-map>
    <nb-map-sidebar class="map-sidebar col-xs-12 col-sm-12 col-md-5 col-lg-4">
      <h2 class="sub-title" slot="sidebar-title"><b>{{ sidebarTitle }}</b></h2>   
      <div id="spinner" slot="spinner"></div>   
      <div class="charts" slot="charts" v-if="showCharts">

        <carousel ref="carousel" icon-control-left="icon-prev" icon-control-right="icon-next" :interval="0">
          <slide>
            <div class="chart-slide"><stacked-bar-chart :data="popChartData" :styles="chartStyles"></stacked-bar-chart></div>            
          </slide>
          <slide>
            <div class="chart-slide"><stacked-bar-chart :data="urbanRuralChartData" :styles="chartStyles" :xaxis="settlementType"></stacked-bar-chart></div>            
          </slide>
          <slide>
            <div class="chart-slide"><stacked-bar-chart :data="tribalChartData" :styles="chartStyles" :xaxis="settlementType"></stacked-bar-chart></div>            
          </slide>
        </carousel>        
      </div>
      <section class="map-legend" slot="map-legend">
        <h5 v-if="!togLegendTitle"><b>Number of Broadband Providers</b></h5>
          <h5 v-if="togLegendTitle"><b>Population Weighted Average Number of Providers</b></h5>
          <div class="legend-gradient"></div>
          <div class="legend-keys">
            <ul>
            <li class="key first">0</li>
            <li class="key">1</li>
            <li class="key">2</li>
            <li class="key">3</li>
            <li class="key">4</li>
            <li class="key penultimate">6</li>
            <li class="key last">12 or more</li></ul>
          </div>
      </section>
    </nb-map-sidebar>
  </div>
</div>
