.chart-slide {
   margin: 0 auto;
   padding: 0 5% 0 7%;
   p {
   	margin-bottom: 5px;
   }
   span {
   	font-size: 12px;
   	+ span {
   		margin-left: 15px;
   	}
   }
 }

 .carousel-inner {
   h5 {
   	margin-top: 0;
   }
}

#spinner {
	height: 200px;
	left: 50%;
    
	position: absolute;
	top: 200px;
}