<div id="mapSidebar" v-bind:class="{ 'hide-pane': hidePane }">
  <tooltip :text="toggleText" placement="left" trigger="hover" :enable="toggleTooltip">
    <button class="btn-toggle btn btn-default btn-lg" @click="toggle" v-bind:aria-controls="'mapSidebar'" v-bind:aria-expanded="hidePane ? 'false':'true'">
      <span class="icon" v-bind:class="{ 'icon-caret-left': hidePane, 'icon-caret-right': !hidePane }"></span><span class="sr-only">Show/hide sidebar</span>
    </button>
  </tooltip>
  <aside>
    <section>
      <div class="row">
        <div class="col-sm-12 col-lg-9">
          <slot name="sidebar-title"></slot>
          <slot name="sidebar-description"></slot>
        </div>
        <div class="col-sm-12 col-lg-3">
          <div class="nav-sidebar">
            <div class="nav-links">
              
              <tooltip text="Download data" placement="left">
                <a href="#"><span class="icon icon-cloud-download"></span><span class="sr-only">Download Data</span></a>
              </tooltip>
              <bookmark-link></bookmark-link>
            </div>
          </div>
        </div>
      </div>
      <slot name="charts"></slot>
    </section>
    <slot name="map-legend"></slot>
  </aside>
</div>
