.map-home {
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 70%), url('../../assets/images/us-map-bg.png') center center no-repeat fixed;
  background-size: cover;
  padding-bottom: 0;
}

form {
  margin-left: auto;
  margin-right: auto;
  padding: 15px 20px 10px;
  max-width: 735px;
}

.panel-search {
  background-color: #fff;
  border-radius: 0;
  box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.14);
  padding: 5px;
  margin-top: 2vh;

  @media(min-width: 768px) {
    margin-top: 5vh;
    padding: 20px;
  }

  .panel-heading {
    background-color: #fff;
    border: none;
    padding-bottom: 0;    
  }

  .panel-title {
    font-size: 18px;
    font-weight: normal;
    @media(min-width: 480px) {
      font-size: 26;
    }
    @media(min-width: 768px) {
      font-size: 30px;
    }
  }

  .panel-body {
    padding-top: 10px;
  }

  .panel-footer {
    border-top: none;
    margin-top: 20px;
  }

  .btn-lg {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 16px;
    @media(min-width: 768px) {
      font-size: 18px;
      padding-left: 16px;
      padding-right: 16px;
    }
  }

  label {
    font-weight: normal
  }

  .input-group {
    border: 2px solid #ffd34d;
  }

  .input-group-addon {
    background-color: #fff;
    border: none;
    border-radius: 0;
    padding-right: 0;
    +[type="text"] {
      border-left: 0;
      padding-left: 3px;
      width: 100%
    }
  }

  .input-group-btn {
    background-color: #ffd34d;
    &>.btn {
      background: none;
      border: none;
      border-radius: 0;
    }
  }

  .icon:not(.icon-search) {
    margin-right: 5px;
  }

  .icon-map-marker {
    opacity: .7;
  }

  .icon-search {
    padding-top: 4px;
  }
}

.panel-browse {
  background-color: transparent;
  border: none;

  .panel-heading {
    background-color: transparent;
    border: 0;
  }
  .panel-title {
    font-size: 14px;
    font-weight: 700;
    display: table;
    white-space: nowrap;
    &:before,
    &:after {
      border-top: 1px solid #fff;
      content: '';
      display: table-cell;
      position: relative;
      top: 0.5em;
      width: 45%;
    }
    &:before {
      right: 1.5%;
    }
    &:after {
      left: 1.5%;
    }
    @media(min-width: 480px) {
      font-size: 18px;
    }
  }

  .panel-body {
    display: table;
    margin: 0 auto;
  }

  a {
    color: #1c4d8f;
    &:hover {
      color: #fff;
      background-color: #2c75d6;
      .icon-box {
        border-color: #fff;
      }
      .icon {
        color: #fff;
      }
    }
  } 

  .btn-lg {
    border-radius: 6px;
    box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.14);
    display: table;
    font-size: 20px;
    margin-bottom: 10px;
    padding: 0 16px 0 0;
    text-align: left;
    width: 210px;
    .text-label {
      margin-left: 16px;
    }
  }

  .icon-box {
    border-right: 1px solid #a2a4a4;
    color: #ffd34d;
    display: table-cell;
    margin-right: 10px;
    padding: 16px;
    width: 63px;
  }

  .icon {
    font-size: 24px;
  }  
}
