.carousel-control {
  color: #2c75d6;
  width: 5%;
  &.left,
  &.right {
    background: none;
  }
  .icon-prev, .icon-next {
    font-size: 65px;
    top: 40%;
  }
}

.carousel-inner .item {
	text-align: center
}

.carousel-indicators {
  bottom: -25px
}

.carousel-indicators li, .carousel-indicators .active {
  border-color: #266ad0;
  width: 8px;
  height: 8px;
  margin: 0 4px;
}

.carousel-indicators .active {
    background-color: #266ad0;
}