label:first-letter {
  text-transform: capitalize;
}

.radio,
.checkbox {
  padding-left: 20px;
}

.radio label,
.checkbox label {
  padding-left: 0;
}

// improve checkbox/radio positioning
input[type="radio"],
input[type="checkbox"] {
  margin: .2em 0 0;
}

.help-inline {
  display: inline;
  font-style: italic;
  font-weight: normal;
  margin-bottom: 10px;
  color: #737373;
}



/* Force dropdown menu links to wrap */

.dropdown-menu>li>a {
  white-space: normal;
}
