/* Map Wrapper */

.map.container-fluid {
  overflow: hidden;
  position: relative;
  @media (min-width: 992px) {
    padding-left: 0;
  }
}

.map-wrapper {
  &.full-width {
    width: 100%
  }
  @media(min-width: 992px) {
    padding-right: 0;
  }
}

.mapboxgl-map {
  height: 77vh;
  margin-bottom: 0;
  width: 100%;
}



/* Search bar */

.search-wrapper {
  background-color: #fff;
  box-shadow: none;
  margin: 0 0 20px;
  max-width: 100%;
  padding: 0;
  z-index: 3;
  @media(min-width: 768px) {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 -1px 0px rgba(0, 0, 0, 0.02);
    margin: 0 75px 0 60px;
    max-width: 700px;
    padding: 5px;
    position: absolute;
    top: 10px;
  }
  .btn,
  input {
    border: 1px solid #ccc;
    @media(min-width: 768px) {
      border: none;
    }
  }
  input {
    border-right: 0;
    box-shadow: none;
  }
  &.input-group input,
  .input-group-btn .btn {
    font-size: 14px;
    height: 46px;
    padding: 6px 12px;
    @media(min-width: 480px) {
      font-size: 18px;
      padding: 10px 16px;
    }
  }
  .dropdown .btn:first-of-type {
    border-right: 0;
    margin-right: -1px;
  }
  .dropdown-toggle {
    span:first-child {
      text-overflow: ellipsis;
      max-width: 54px;
      overflow: hidden;
      display: inline-block;
      vertical-align: middle;

      @media(min-width: 480px) {
        max-width: none;
      }
    }
  }

  .divider {
    display: none;
    vertical-align: middle;
    width: 1px;
    div {
      border-right: 1px solid #ccc;
      height: 35px;
      margin: 0 10px;
    }
    @media(min-width: 768px) {
      display: table-cell;
    }
  }
}

.map-settings {
  margin: 75px -100px;
  position: absolute;
  @media(min-width: 480px) {
    margin: 75px -125px;
  }
  @media(min-width: 768px) {
    position: relative;
  }
  .dropdown {
    display: inline-block;
    .btn {
      height: 46px;
    }
  }
  .btn-settings.dropdown-toggle {
    padding-top: 6px;
  }
}



/* Map Controls */

.mapboxgl-ctrl-group {
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
  /* >.mapboxgl-ctrl-compass {
    display: none;
  } */
  .dropdown-toggle {
    width: 30px;
    height: 30px;
    display: block;
    padding: 0;
    outline: none;
    border: none;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
  }
}

.mapboxgl-ctrl {
  &.mapboxgl-ctrl-group {
    border-radius: 0;
    overflow: visible;
  }
  &.custom {
    margin-top: 0;
  }
}

.mapboxgl-ctrl-top-left {
  .icon {
    font-size: 18px;
    margin: 0;
  }
}


/*  Map Sidebar */

.map-sidebar {
  height: 77vh;
  box-shadow: none;
  padding-left: 15px;
  position: relative;
  right: 0;
  transition-duration: .16s;
  z-index: 2;
  @media(min-width: 992px) {
    box-shadow: -2px -1px 4px rgba(0, 0, 0, 0.2);
  }

  .btn-toggle {
    border: none;
    box-shadow: -2px 1px 4px rgba(0, 0, 0, 0.2);
    display: none;
    left: -26px;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    top: 10px;
    @media(min-width: 992px) {
      display: block;
    }
  }

  h2 {
    font-size: 16px;
  }

  &.hide-pane {
    @media(min-width: 992px) {
      position: absolute;
      right: -33.2vw;
    }
    aside {
      display: block;
      @media(min-width: 992px) {
        display: none;
      }
    }
  }
}

.nav-sidebar {
  font-size: 20px;
  float: none;
  margin-top: 0;
  @media (min-width: 1200px) {
    float: right;
    margin-top: 13px;
  }
}

.nav-links {
  a:last-child {
    margin-left: 10px;
    vertical-align: text-bottom;
  }
  .icon {
    margin: 0;
  }
}

.charts {
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  margin: 20px 0;
  padding: 20px 0;
}



/* Map Legend */

.map-legend {
  font-size: 12px;
  li {
    margin-bottom: 5px;
  }
}

.key-symbol {
  border: solid 1px #ccc;
  display: inline-block;
  height: 20px;
  opacity: 1.0;
  vertical-align: middle;
  width: 20px;
}



/* Location Marker */

.marker {
  background: url('../images/marker-icon.png') no-repeat center center;
  width: 25px;
  height: 41px;
  cursor: pointer;
}
