.table {
  font-size: 14px;
  .sorting {
    cursor: pointer;
  }
}

.pg-areaCompare {
  .good-table {
    tr>td:first-child {
      width: 225px;
    }
  }
}

.good-table {
  thead {
    th:last-child {
      padding-right: 30px;
    }
  }
  .table-footer,
  .pagination-controls a {
    font-size: 13px !important;
  }
  .responsive {
    overflow-x: auto !important;
  }
}
