<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <h1>Data Download</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8 col-fixed">
      <section>
        <h2>Data used for search and charts</h2>
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Page</th>
              <th>Feature</th>
              <th>Source</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Location Summary</th>
              <td>Provider table</td>
              <td><a href="https://opendata.fcc.gov/Wireline/Fixed-Broadband-Deployment-Data-December-2016-Stat/b5f4-szwq" target="_blank">Fixed Broadband Deployment Data: December, 2016 Status V1</a></td>
            </tr>
            <tr>
              <th rowspan="2">Area Summary</th>
              <td>Geography search</td>
              <td><a href="https://opendata.fcc.gov/dataset/Geography-Lookup-2017/fh6b-eeeb" target="_blank">Geography Lookup 2017</a></td>
            </tr>
            <tr>
              <td>Charts</td>
              <td><a href="https://opendata.fcc.gov/dataset/Area-Table-Dec2016/xv2f-wqqz/" target="_blank">Area Table Dec2016</a></td>
            </tr>
            <tr>
              <th rowspan="2">Area Comparison</th>
              <td>Geography search</td>
              <td><a href="https://opendata.fcc.gov/dataset/Geography-Lookup-2017/fh6b-eeeb" target="_blank">Geography Lookup 2017</a></td>
            </tr>
            <tr>
              <td>Results tables</td>
              <td><a href="https://opendata.fcc.gov/dataset/Area-Table-Dec2016/xv2f-wqqz/" target="_blank">Area Table Dec2016</a></td>
            </tr>
            <tr>
              <th rowspan="2">Provider Detail</th>
              <td>Search</td>
              <td><a href="https://opendata.fcc.gov/Wireline/Fixed-Broadband-Deployment-Data-December-2016-Stat/b5f4-szwq" target="_blank">Fixed Broadband Deployment Data: December, 2016 Status V1</a></td>
            </tr>
            <tr>
              <td>Charts</td>
              <td><a href="https://opendata.fcc.gov/dataset/Provider-Table-Dec2016/s8yu-gdgv" target="_blank">Provider Table Dec2016</a></td>
            </tr>
          </tbody>
        </table>        
      </section>

      <section>
        <h2>Raw data</h2>
        <p>Data available from Census.gov except were indicated.</p>
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Description</th>
              <th>Source</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Fixed-broadband deployment data: FCC Form 477 as of December 2016 (v1)</th>
              <td><a href="https://www.fcc.gov/general/broadband-deployment-data-fcc-form-477" target="_blank">FCC Wireline Competition</a></td>
            </tr>
            <tr class="indent-3">
              <th colspan="2"><b>Areas used to map fixed-broadband deployment data</b></th>              
            </tr>
            <tr>
              <th class="indent">2010 Census blocks (and roll-ups to larger areas)</th>
              <td>
                <a href="https://www.census.gov/geo/maps-data/data/tiger-line.html" target="_blank">TIGER/Line® Shapefiles and TIGER/Line® Files</a>
              </td>
            </tr>
            <tr>
              <th class="indent">2010 Cartographic Census counties (500 km)</th>
              <td>
                <a href="https://www.census.gov/geo/maps-data/data/cbf/cbf_counties.html" target="_blank">Cartographic Boundary Shapefiles - Counties</a>
              </td>
            </tr>
            <tr>
              <th class="indent">2010 Cartographic Census tracts (500 km)</th>
              <td>
                <a href="https://www.census.gov/geo/maps-data/data/cbf/cbf_tracts.html" target="_blank">Cartographic Boundary Shapefiles - Census Tracts</a>
              </td>
            </tr>
            
            <tr class="indent-6">
              <th colspan="2"><b>Geographic-area definitions</b></th>              
            </tr>
            <tr>
              <th class="indent">2016 Cartographic States</th>
              <td>                
                <a href="https://www2.census.gov/geo/tiger/GENZ2016/shp/cb_2016_us_state_500k.zip" download>Download</a>
              </td>
            </tr>
            <tr>
              <th class="indent">2016 Cartographic Counties</th>
              <td>
                <a href="https://www2.census.gov/geo/tiger/GENZ2016/shp/cb_2016_us_county_500k.zip" download>Download</a>               
              </td>
            </tr>
            <tr>
              <th class="indent">115th Congressional Districts</th>
              <td>
                <a href="https://www2.census.gov/geo/tiger/GENZ2016/shp/cb_2016_us_cd115_500k.zip" download>Download</a>
              </td>
            </tr>
            <tr>
              <th class="indent">2016 Cartographic Tribal areas (for Federally recognized tribal areas)</th>
              <td>
                <a href="https://www2.census.gov/geo/tiger/GENZ2016/shp/cb_2016_us_aiannh_500k.zip" download>Download</a>
              </td>
            </tr>
            <tr>
              <th class="indent">2016 Core-Based Statistical Areas (CBSAs): roll-up of 2016 Cartographic Counties</th>
              <td>
                <a href="https://www2.census.gov/geo/tiger/GENZ2016/shp/cb_2016_us_cbsa_500k.zip" download>Download</a>
              </td>
            </tr>
            <tr>
              <th class="indent">2016 Census Designated Places</th>
              <td>
                <a href="https://www.census.gov/geo/maps-data/data/cbf/cbf_place.html" target="_blank">Cartographic Boundary Shapefiles - Places</a>
              </td>
            </tr>
            <tr>
              <th>Urban/rural definition; Census 2010, Summary File 1</th>
              <td>
                <a href="https://www.census.gov/2010census/news/press-kits/summary-file-1.html" target="_blank">Census.gov Press Kit - Summary File 1</a>
              </td>
            </tr>
            <tr>
              <th>Tribal definition; Census 2010, Summary File 1</th>
              <td>
                <a href="https://www.census.gov/2010census/news/press-kits/summary-file-1.html" target="_blank">Census.gov Press Kit - Summary File 1</a>
              </td>
            </tr>
            <tr>
              <th>Block-level estimates for population, housing units and households</th>
              <td>
                <a href="https://www.fcc.gov/reports-research/data/staff-block-estimates" target="_blank">FCC Staff Block Estimates</a>
              </td>
            </tr>
          </tbody>
        </table>
      </section>
      <br>
    </div>
    
  </div>
</div>
