<modal v-model="showModal" title="Map Appearance" @hide="hidePicker()" ref="modal">
  <form>
    <div class="row">
      <div class="col-sm-12">
        <p><b>Layer options</b></p>
        <div class="checkbox">
          <input type="checkbox" name="waterBlocks" id="waterBlocks" v-model="showWaterBlocks" @click="setWaterBlocks(showWaterBlocks)">
          <label for="waterBlocks">Display water only blocks</label>
        </div>
        <div class="checkbox">
          <input type="checkbox" name="unPopBlocks" id="unPopBlocks" v-model="showUnPopBlocks" @click="setUnPopBlocks(showUnPopBlocks)">
          <label for="unPopBlocks">Display un-populated blocks/tracts</label>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-12">
        <label for="transparency">Data layer transparency</label>
        <div class="slider">
          <input id="slider" name="slider" type="range" min="0" max="100" value="0" v-model="opacity" @change="setOpacity(opacity)">
        </div>
        <div class="slider-output">
          <div class="input-group">
            <input id="transparency" class="form-control" type="number" name="transparency" min="0" max="100" v-model="opacity" size="3" @input="setOpacity(opacity)">
            <span class="input-group-addon">%</span>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-12">
        <h3 class="h4">Layer highlight color</h3>
        <button class="btn-selColor btn btn-default" type="button" @click.prevent.stop="showPicker()" :style="'background-color:' + hlColors.hex"><span class="sr-only">Select color</span></button>
        <button class="btn btn-default btn-xs" @click.prevent="updateHighlight(true)">Use Default</button>
        <div id="colorPicker" class="vc-color" v-bind:class="{hide: !displayPicker}">
          <color-picker v-model="hlColors" @input="updateHighlight()" />
        </div>
        <br>
      </div>
    </div>
    <!-- <hr>
    <div class="row">
      <div class="col-sm-12">
        <h3 class="h4">Color scheme</h3>
        <ul class="color-scheme">
          <li class="color-ramp color-ramp-1">
            <button class="color-ramp-link">Selected</button>
            <span class="color-ramp-item1"></span>
            <span class="color-ramp-item2"></span>
            <span class="color-ramp-item3"></span>
            <span class="color-ramp-item4"></span>
            <span class="color-ramp-item5"></span>
            <span class="color-ramp-item6"></span>
            <span class="color-ramp-item7"></span>
          </li>
          <li class="color-ramp color-ramp-2">
            <button class="color-ramp-link">Select</button>
            <span class="color-ramp-item1"></span>
            <span class="color-ramp-item2"></span>
            <span class="color-ramp-item3"></span>
            <span class="color-ramp-item4"></span>
            <span class="color-ramp-item5"></span>
            <span class="color-ramp-item6"></span>
            <span class="color-ramp-item7"></span>
          </li>
          <li class="color-ramp color-ramp-3">
            <button class="color-ramp-link">Select</button>
            <span class="color-ramp-item1"></span>
            <span class="color-ramp-item2"></span>
            <span class="color-ramp-item3"></span>
            <span class="color-ramp-item4"></span>
            <span class="color-ramp-item5"></span>
            <span class="color-ramp-item6"></span>
            <span class="color-ramp-item7"></span>
          </li>
          <li class="color-ramp color-ramp-4">
            <button class="color-ramp-link">Select</button>
            <span class="color-ramp-item1"></span>
            <span class="color-ramp-item2"></span>
            <span class="color-ramp-item3"></span>
            <span class="color-ramp-item4"></span>
            <span class="color-ramp-item5"></span>
            <span class="color-ramp-item6"></span>
            <span class="color-ramp-item7"></span>
          </li>
        </ul>
      </div>
    </div> -->
  </form>
  <div slot="footer">
    <button class="btn btn-default pull-right" type="button" @click="closeModal">Close</button>
  </div>
</modal>
