<modal v-model="showModal" title="Map Appearance" @hide="" ref="modal">
  <form>
    <div class="row">
      <div class="col-sm-12">
        <label for="transparency">Set data layer transparency:</label>
        <div class="slider">
          <input id="slider" name="slider" type="range" min="0" max="100" value="100" v-model="opacity" @change="updateOpacity(opacity)">
        </div>
        <div class="slider-output">
          <div class="input-group">
            <input id="transparency" class="form-control" type="number" name="transparency" min="0" max="100" v-model="opacity" size="3" @change="updateOpacity(opacity)" @keyup="updateOpacity(opacity)">
            <span class="input-group-addon">%</span>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div slot="footer">
    <button class="btn btn-default pull-right" type="button" @click="closeModal">Close</button>
  </div>
</modal>
