/* Search form */

.search-geography {
  margin-bottom: 20px;
  &:after {
    clear: both;
    content: " ";
    display: table;
  }

  @media(min-width: 992px) {
    padding-bottom: 10px;
  }

  label {
    font-weight: normal;
  }

  .search-state {
    margin-bottom: 0;
  }

  .form-group {
    margin-right: 10px;
    vertical-align: bottom;
    p {
      margin-bottom: 5px;
    }
  }
}

.btn-primary {
  margin: -1px 20px 0 0;
}

.dropdown .btn {
  font-size: 18px;
  height: 46px;
  margin-right: -1px;
}

.techSettings {
  border-top: none;
  clear: both;
  margin: 0;
  padding: 20px 0 5px 0;
  .btn-settings {
    font-size: 14px;
    margin: 0 0 5px;
    padding: 0;
    .icon {
      font-size: 16px;
      margin-left: 10px;
    }
  }
}

.alert-error {
  margin-top: 0;
}



/* Download and about links */

.nav-utility {
  font-size: 20px;
  margin: 7px 0 5px;
  text-align: right;

  &.page {
    margin-top: 35px;
  }

  a {
    margin-left: 12px;
  }

  .btn {
    font-size: 20px;
    padding: 0 12px 0 0;
  }

  .icon-cloud-download {
    position: relative;
    top: 3px;
  }
}



/* Search results table */

.results {
  background-color: #f2f2f2;
  h3 {
    margin: 0 0 .625em;
  }
  h4 {
    margin-bottom: .5em;
  }
  dl {
    margin-bottom: 0;
  }
  hr {
    border-top-color: #ddd;
  }
  section {
    margin-bottom: 30px;
  }
}

.search-geography-results {
  margin-bottom: 100px;
}

.table-results {
  margin: 0 15px;
}




/* vue-good-table plugin styles */

.good-table {
  table {
    display: flex;
    flex-flow: column;
    max-height: 600px;
    width: 100%;
  }
  table thead {
    flex: 0 0 auto;
    width: calc(100% - 0.9em);
  }
  table tbody {
    flex: 1 1 auto;
    display: block;
    overflow-y: scroll;
  }
  table tbody tr {
    width: 100%;
  }
  table thead,
  table tbody tr {
    display: table;
    table-layout: fixed;
  }
  .table-footer {
    background-color: transparent !important;
    border: none !important;
  }
}



/* Spinner */

#spinner {
  position: relative;
  top: 45px;
}
