<div class="pg-areaCompare">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-10 col-sm-9">
        <h1>Compare Broadband Availability in Different Areas</h1>
      </div>
      <div class="col-xs-2 col-sm-3">
        <div class="nav-utility page">
          <!-- <tooltip text="Download data" placement="top">
          <a href="#"><span class="icon icon-cloud-download"></span><span class="sr-only">Download Data</span></a>
        </tooltip> -->
          <tooltip text="About this page" trigger="hover" placement="left">
            <button class="btn btn-link" type="button" @click.prevent="openAboutAreaCompare">
              <span class="icon icon-info-circle"></span>
              <span class="sr-only">About this page</span>
            </button>
          </tooltip>
          <bookmark-link v-if="rows.length > 0"></bookmark-link>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <form class="search-geography form-inline">
          <div class="alert alert-error" role="alert" v-if="validationError">
            <p>{{ validationError }}</p>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="addr"><a href="#" @click.prevent="searchArea('Nationwide')">Search Nationwide</a> or <a href="#" @click.prevent="searchArea('state'); toggleSearchType('County')">enter a state</a></label>
                <Autocomplete class="search-state" ref="autocomplete" searchType="State" originPage="AreaComparison" placeholderText="Enter state" v-model="selectedState"></Autocomplete>
              </div>
              <div class="form-group">
                <p>Select area</p>
                <dropdown :disabled="refreshingDropdown">
                  <button data-role="trigger" aria-expanded="false" class="btn btn-default dropdown-toggle" type="button">
                    <span id="btn-label">{{ searchLabel }}</span> <span class="caret"></span>
                  </button>
                  <template slot="dropdown" @click="toggleSearchType">
                    <li v-for="(value, key) in searchOptsList">
                      <a href="#" @click.self.prevent="toggleSearchType(key)">{{ key }}</a>
                    </li>
                  </template>
                </dropdown>
              </div>
              <button class="btn btn-lg btn-primary" type="button" @click.prevent="compareAreas">Compare</button>
              <tooltip text="Table settings" trigger="hover" placement="right">
                <button class="btn-settings btn btn-default btn-lg" data-role="trigger" type="button" @click.prevent="openTableSettings">
                  <span class="icon icon-cog"></span>
                  <span class="sr-only">settings</span>
                </button>
              </tooltip>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div id="spinner" slot="spinner"></div>
  </div>
  <div class="results">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <div class="techSpeed techSettings">
            <div>
              <button class="btn-settings btn btn-link" data-role="trigger" type="button" @click.prevent="openTableSettings">Broadband<span class="icon icon-cog"></span></button>
              <!-- <tooltip text="Table settings" trigger="hover" placement="right">
                  <button class="btn-settings btn btn-link" data-role="trigger" type="button" @click.prevent="openTableSettings">
                    <span class="icon icon-cog"></span>
                    <span class="sr-only">settings</span>
                  </button>
                </tooltip> -->
            </div>
            <dl class="dl-horizontal">
              <dt>Technology</dt>
              <dd><span v-if="tech !== ''">{{ tech }}</span><span v-if="tech ===''">(none)</span></dd>
              <dt>Speed</dt>
              <dd><span v-if="speed !== ''">&ge; {{ speed }} Mbps</span><span v-if="speed ===''">(none)</span></dd>
              <dt>Data <span class="help-inline">(as of)</span></dt>
              <dd>December 2016 <span class="help-inline">(latest public release)</span></dd>
            </dl>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-10">
          <hr>
          <h3>Percentage of population with broadband providers</h3>
          <section>
            <div class="row">
              <div class="col-sm-6">
                <h4>United States (National)</h4>
              </div>
              <div class="col-sm-6">
                <div class="nav-utility">
                  <tooltip text="Download Excel file" placement="left">
                    <a href="/area-comparison/#" download @click.prevent="exportTable('.table-nw', 'Nationwide')"><span class="icon icon-file-excel-o"></span><span class="sr-only">Download Excel file</span></a>
                  </tooltip>
                  <tooltip text="Download API data" placement="left">
                    <a :href="nwDataDownload" download><span class="icon icon-cloud-download"></span><span class="sr-only">Download Data</span></a>
                  </tooltip>
                </div>
              </div>
            </div>
            <div class="table-container panel panel-default">
              <div class="table-responsive">
                <vue-good-table styleClass="table-nw table-vgt table-fixed table table-stripped" :columns="columns" :rows="nwData" :sortable="false" :paginate="false" :lineNumbers="false" :responsive="true" />
              </div>
            </div>
          </section>
          <section v-if="stateData.length > 0">
            <div class="row">
              <div class="col-sm-6">
                <h4>State</h4>
              </div>
              <div class="col-sm-6">
                <div class="nav-utility">
                  <tooltip text="Download Excel file" placement="left">
                    <a href="/area-comparison/#" download @click.prevent="exportTable('.table-state', 'State')"><span class="icon icon-file-excel-o"></span><span class="sr-only">Download Excel file</span></a>
                  </tooltip>
                  <tooltip text="Download API data" placement="left">
                    <a :href="stateDataDownload" download><span class="icon icon-cloud-download"></span><span class="sr-only">Download Data</span></a>
                  </tooltip>
                </div>
              </div>
            </div>
            <div class="table-container panel panel-default">
              <vue-good-table styleClass="table-state table-vgt table-fixed table table-stripped" :columns="columns" :rows="stateData" :sortable="false" :paginate="false" :lineNumbers="false" :responsive="true" />
            </div>
          </section>
          <section v-if="rows.length > 0">
            <div class="row">
              <div class="col-sm-6">
                <h4>{{ searchGeogType }}</h4>
              </div>
              <div class="col-sm-6">
                <div class="nav-utility">
                  <tooltip text="Download Excel file" placement="left">
                    <a href="/area-comparison/#" download @click.prevent="exportTable('.table-geog', searchGeogType)"><span class="icon icon-file-excel-o"></span><span class="sr-only">Download Excel file</span></a>
                  </tooltip>
                  <tooltip text="Download API data" placement="left">
                    <a :href="geogTypeDownload" download><span class="icon icon-cloud-download"></span><span class="sr-only">Download API data</span></a>
                  </tooltip>
                </div>
              </div>
            </div>
            <div class="table-container panel panel-default">
              <vue-good-table styleClass="table-geog table-vgt table-fixed table table-stripped" :columns="columns" :rows="rows" globalSearch="true" :defaultSortBy="{field: 'area_name', type: 'asc'}" :paginate="true" perPage="200" :lineNumbers="false" :responsive="true" />
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
